.page-node-type-tech-news {
    .content {
        .field--name-body {
            overflow: hidden;

            a {
                margin-right: 10px;
                display: inline-block;

                img {
                    margin-right: 10px;
                }
            }

            img {
                margin-bottom: 10px;
            }
        }
    }
}
