.list-item {
    margin: 40px 0;

    .views-field-title {
        margin-bottom: 10px;

        a {
            font-size: 1.8rem;
        }
    }

    .views-field-body {
        margin-bottom: 10px;
        
        img {
            width: 100%;
            height: auto;
        }
    }

    .views-field-view-node {
        a {
            font-size: 1.4rem;
        }
    }
}
